In [1]:
import pandas as pd
import mysql.connector
from important import host, user, password

In [2]:
holiday_db = mysql.connector.connect(
  host=host,
  user=user,
  password=password
)

print(holiday_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001BC9E2F7D90>

In [3]:
if holiday_db.is_connected():
    cursor = holiday_db.cursor()
    cursor.execute("DROP DATABASE IF EXISTS 2023_winter")
    cursor.execute("CREATE DATABASE 2023_winter")

## At Home

In [4]:
at_home_df = pd.read_csv("Cleaned_Datasets/at_home_christmas_deco.csv")

In [5]:
at_home_df.drop(columns=at_home_df.columns[0], axis=1, inplace=True)

In [6]:
at_home_df.head()

,Name,Actual Price,Sale Price,Discount %,Rating,Number of Reviews,Category,Sub-Category,Brand
0,"Premium Rolling Christmas Tree Storage Bag, 7.5'",24.99,24.99,0.0,4.2,96,Christmas,Christmas Storage,At Home
1,"Inflatable Colossal Waving Santa, 20'",199.99,99.99,50.0,3.2,23,Christmas Inflatables & Outdoor Decor,Oversized Decor,At Home
2,"& Elf Pets® Merry Christmas Table Decor, 6""",4.99,2.49,50.0,0.0,0,Christmas,The Elf on the Shelf Collection,The Elf on the Shelf®
3,"Christmas Magic Card Holder Table Decor, 11x7",9.99,4.99,50.0,5.0,1,Christmas,The Elf on the Shelf Collection,The Elf on the Shelf®
4,150-Count Silver Ornament Hooks,1.99,0.99,50.0,4.1,39,Christmas,Christmas Ornaments,At Home

In [7]:
try:
    cnx = mysql.connector.connect(host=host, database="2023_winter", user=user, password=password)
    if cnx.is_connected():
        cursor = cnx.cursor()
        cursor.execute("SELECT database();")
        record = cursor.fetchone()
        print(f"You're connected to database: {record}")
        
        cursor.execute("DROP TABLE IF EXISTS at_home_chrismtas_deco;")
        print("Creating Table")
        
        cursor.execute("Create TABLE at_home_chrismtas_deco(name VARCHAR(92), actual_price FLOAT, sale_price FLOAT, discount_prct FLOAT, rating FLOAT, number_of_reviews INT, category VARCHAR(72), subcategory VARCHAR(72), brand VARCHAR(32));")
        print("Table is created...")
        
        for i, row in at_home_df.iterrows():
            sql = "INSERT INTO at_home_chrismtas_deco VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
            cursor.execute(sql, tuple(row))
            cnx.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database: ('2023_winter',)
Creating Table
Table is created...

In [8]:
sql = "SELECT * FROM 2023_winter.at_home_chrismtas_deco LIMIT 5;"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

("Premium Rolling Christmas Tree Storage Bag, 7.5'", 24.99, 24.99, 0.0, 4.2, 96, 'Christmas', 'Christmas Storage', 'At Home')
("Inflatable Colossal Waving Santa, 20'", 199.99, 99.99, 50.0, 3.2, 23, 'Christmas Inflatables & Outdoor Decor', 'Oversized Decor', 'At Home')
('& Elf Pets® Merry Christmas Table Decor, 6"', 4.99, 2.49, 50.0, 0.0, 0, 'Christmas', 'The Elf on the Shelf Collection', 'The Elf on the Shelf®')
('Christmas Magic Card Holder Table Decor, 11x7', 9.99, 4.99, 50.0, 5.0, 1, 'Christmas', 'The Elf on the Shelf Collection', 'The Elf on the Shelf®')
('150-Count Silver Ornament Hooks', 1.99, 0.99, 50.0, 4.1, 39, 'Christmas', 'Christmas Ornaments', 'At Home')

## Target

In [9]:
target_df = pd.read_csv("Cleaned_Datasets/target_christmas_deco.csv")

In [10]:
target_df.drop(columns=target_df.columns[0], axis=1, inplace=True)

In [11]:
target_df.head()

,Name,Actual Price,Sale Price,Discount %,Rating,Number of Reviews,Category,Sub-Category,Brand
0,Santa Fabric Christmas Figurine with Blue Gift...,4.25,4.25,0.0,4.2,13,Christmas Decorations,Indoor Christmas Decorations,Wondershop
1,"6.75"" Featherly Friends Bird Dressed as Elf Fa...",4.25,4.25,0.0,4.8,44,Christmas Decorations,Indoor Christmas Decorations,Wondershop
2,"Mr. Christmas 17"" Tabletop Super Climber Anima...",49.99,19.99,60.0,3.9,29,Christmas Decorations,Indoor Christmas Decorations,Mr. Christmas
3,"Northlight 7"" LED Lighted Magnolia Leaf, Pinec...",43.49,35.99,17.0,4.0,2,Christmas Decorations,Indoor Christmas Decorations,Northlight
4,Mr. Christmas Animated Mini Carnival Music Box...,34.99,19.99,43.0,3.6,11,Christmas Decorations,Indoor Christmas Decorations,Mr. Christmas

In [12]:
try:
    cnx = mysql.connector.connect(host=host, database="2023_winter", user=user, password=password)
    if cnx.is_connected():
        cursor = cnx.cursor()
        cursor.execute("SELECT database();")
        record = cursor.fetchone()
        print(f"You're connected to database: {record}")
        
        cursor.execute("DROP TABLE IF EXISTS target_chrismtas_deco;")
        print("Creating Table")
        
        cursor.execute("Create TABLE target_chrismtas_deco(name VARCHAR(92), actual_price FLOAT, sale_price FLOAT, discount_prct FLOAT, rating FLOAT, number_of_reviews INT, category VARCHAR(72), subcategory VARCHAR(72), brand VARCHAR(32));")
        print("Table is created...")
        
        for i, row in at_home_df.iterrows():
            sql = "INSERT INTO target_chrismtas_deco VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
            cursor.execute(sql, tuple(row))
            cnx.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database: ('2023_winter',)
Creating Table
Table is created...

In [13]:
sql = "SELECT * FROM 2023_winter.target_chrismtas_deco LIMIT 5;"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

("Premium Rolling Christmas Tree Storage Bag, 7.5'", 24.99, 24.99, 0.0, 4.2, 96, 'Christmas', 'Christmas Storage', 'At Home')
("Inflatable Colossal Waving Santa, 20'", 199.99, 99.99, 50.0, 3.2, 23, 'Christmas Inflatables & Outdoor Decor', 'Oversized Decor', 'At Home')
('& Elf Pets® Merry Christmas Table Decor, 6"', 4.99, 2.49, 50.0, 0.0, 0, 'Christmas', 'The Elf on the Shelf Collection', 'The Elf on the Shelf®')
('Christmas Magic Card Holder Table Decor, 11x7', 9.99, 4.99, 50.0, 5.0, 1, 'Christmas', 'The Elf on the Shelf Collection', 'The Elf on the Shelf®')
('150-Count Silver Ornament Hooks', 1.99, 0.99, 50.0, 4.1, 39, 'Christmas', 'Christmas Ornaments', 'At Home')

## Hobby Lobby

In [14]:
hobby_lobby_df = pd.read_csv("Cleaned_Datasets/hobby_lobby_christmas_deco.csv")

In [15]:
hobby_lobby_df.drop(columns=target_df.columns[0], axis=1, inplace=True)

In [16]:
hobby_lobby_df.head()

,Unnamed: 0,Actual Price,Sale Price,Discount %,Rating,Number of Reviews,Category,Sub-Category,Brand
0,0,20.99,10.49,50.0,0.0,0,Tabletop Decor,Merry Christmas Cardinals Decor,Hobby Lobby
1,1,6.99,3.49,50.0,0.0,0,Tabletop Decor,Merry Christmas Decor,Hobby Lobby
2,2,9.99,4.99,50.0,0.0,0,Tabletop Decor,We Wish You A Merry Christmas Wood Decor,Hobby Lobby
3,3,29.99,14.99,50.0,5.0,1,Tabletop Decor,Merry Christmas Pine & Berry Arrangement,Barb's Tree Farm
4,4,7.49,3.74,50.0,0.0,0,Tabletop Decor,Merry Christmas Wood Wall Decor,Hobby Lobby

In [17]:
try:
    cnx = mysql.connector.connect(host=host, database="2023_winter", user=user, password=password)
    if cnx.is_connected():
        cursor = cnx.cursor()
        cursor.execute("SELECT database();")
        record = cursor.fetchone()
        print(f"You're connected to database: {record}")
        
        cursor.execute("DROP TABLE IF EXISTS hobby_lobby_chrismtas_deco;")
        print("Creating Table")
        
        cursor.execute("Create TABLE hobby_lobby_chrismtas_deco(name VARCHAR(94), actual_price FLOAT, sale_price FLOAT, discount_prct FLOAT, rating FLOAT, number_of_reviews INT, category VARCHAR(72), subcategory VARCHAR(72), brand VARCHAR(32));")
        print("Table is created...")
        
        for i, row in at_home_df.iterrows():
            sql = "INSERT INTO hobby_lobby_chrismtas_deco VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
            cursor.execute(sql, tuple(row))
            cnx.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database: ('2023_winter',)
Creating Table
Table is created...

In [18]:
sql = "SELECT * FROM 2023_winter.hobby_lobby_chrismtas_deco LIMIT 5;"
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

("Premium Rolling Christmas Tree Storage Bag, 7.5'", 24.99, 24.99, 0.0, 4.2, 96, 'Christmas', 'Christmas Storage', 'At Home')
("Inflatable Colossal Waving Santa, 20'", 199.99, 99.99, 50.0, 3.2, 23, 'Christmas Inflatables & Outdoor Decor', 'Oversized Decor', 'At Home')
('& Elf Pets® Merry Christmas Table Decor, 6"', 4.99, 2.49, 50.0, 0.0, 0, 'Christmas', 'The Elf on the Shelf Collection', 'The Elf on the Shelf®')
('Christmas Magic Card Holder Table Decor, 11x7', 9.99, 4.99, 50.0, 5.0, 1, 'Christmas', 'The Elf on the Shelf Collection', 'The Elf on the Shelf®')
('150-Count Silver Ornament Hooks', 1.99, 0.99, 50.0, 4.1, 39, 'Christmas', 'Christmas Ornaments', 'At Home')